@model ServerSide.Models.ViewModels.RegisterViewModel
@addTagHelper "*,Microsoft.AspNet.Mvc.TagHelpers"
<h1>Login</h1>

<form asp-controller="Account" asp-action="Register">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br/>
    <label asp-for="Password"></label>
    <input type="password" asp-for="Password" />
    <span asp-validation-for="Password"></span>

    <br/>
    <input type="submit" value="register" />

</form>